*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Poppins';
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(style/images/bg2.png) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 120vh;
}

#menu-icon{
    font-size: 2rem;
    cursor: pointer;
    display:none;
}

.header-about{
    text-decoration: none;
    background-color: #BCE0F4;
    position: fixed;
    padding: 10px 10%;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    float: left;
    width: 200px;
    height: 45px;
}

.navbar-about a{
    color: #193444;
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    text-decoration: none;
    padding: 0 10px;
    letter-spacing: 0.5px;
    font-size: 15px;

}

.navbar-about a::after{
    content: '';
    height: 3px;
    width: 0;
    background: #193444;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar-about a:hover::after{
    width:100%;
}

.navbar-about a.active,
.navbar-about a:hover{
    color: #193444;
    font-weight: bolder;
}

.navbar-about  a.active:after{
    width: 100%;
}

.home {
    width: 100%;
    height: 100%;
}

.home-content {
    color: black;
}

.home-content h1 {
    font-family: 'Poppins';
    font-size: 53px;
    font-weight: 600;
    color: white;
    padding-top: 20%;
    padding-left: 80px;  
}

.home-content p {
    max-width: 700px;
    font-size: 20px;
    margin-left: 6%;
    margin-top: 20px;
    color: white;
}

.container {
    margin-top: 100px;
    justify-content: center;
}

.container h2{
    text-align: center; 
    font-family: 'Poppins';
    font-size: 30px;
    margin-bottom: 2%;  
    margin-top: 20%;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 50px;
}

.grid article{
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-align: center;
    background: #fff;
    width: 280px;
    height: 410px;
    transition: 0.2s transform;
    cursor: pointer;
}

article {
    display: block;
    justify-content: center;
}

.grid article img{
    padding-left: 12px;
    padding-top: 15px;
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.grid img {
    padding-left: 12px;
    padding-top: 9px;
    width: 250px;
    height: 250px;
    border-radius: 30px;
    object-fit: cover;
}

img{
    overflow: clip;
}

.title h3{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.grid button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #193444;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    width: 80%;
}

h4{
    margin-left: 9%;
    margin-top: 9%;
    font-family: 'Poppins';
    font-size: 30px;
}

.history{
    margin-bottom: 10%;
}
.container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8%;
    margin-right: 30px;
    width: auto;
}

.centered-text {
    text-align:justify;
    font-size: 13x;
    margin-top: 5px;
    padding-top: 5px;
}

.container3 img{
    width: 400px;
    height: 300px;
    margin-right: 50px;
    margin-left: 90px;
}

.footer{
    width: 100%;
    padding: 0 50px;
    align-items: center;
    margin-top: 10px;
    background: rgb(23, 23, 58);
    color: aliceblue;
    padding: 1rem;
    font-size: 1.2rem;
    text-align:center;
    font-size: 15px;
}

