@import url('https://fonts.googleapis.com/css2?family=Forum&family=Lancelot&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

html{
    scroll-behavior: smooth;
}
body{
    background-color: white;
    color: #193444;
    font-family: 'Poppins';
}

.programs{
    background-color: #BCE0F4;
    height: 90vh;
    width: 100%;
}

#menu-icon{
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

.header-program{
    text-decoration: none;
    background-color: #BCE0F4;
    position: fixed;
    padding: 10px 10%;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    float: left;
    width: 200px;
    height: 45px;
}


.navbar-program a{
    color: #193444;
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    text-decoration: none;
    padding: 0 10px;
    letter-spacing: 0.5px;
    font-size: 15px;
}


.navbar-program  a:after{
    content: '';
    height: 3px;
    width: 0;
    background: #193444;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar-program  a.active,
.navbar-program  a:hover{
    color: #193444;
    font-weight: bolder;
}

.navbar-program a.active:after{
    width: 100%;
}

.navbar-program a:hover:after{
    width: 100%;
}
.program{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
    justify-content: space-between;
}
.content-program1 h1 {
    font-size: 39px;
    font-weight: 900;
    line-height: 1.2;
    font-family: 'Poppins',sans-serif;

}

.content-program1 p{
    font-size: 15px;
    font-weight: 530;
    font-family: 'Poppins';
    margin: 8px;
    padding: auto;
}

.btn{
    position: relative;
    width: 100px;
    height: 45px;
    display: inline-flex;
    border-radius: 40px;
    background-color:white ;
    color: #193444;
    text-decoration: none;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    z-index: 1;
    margin: 30px 5px ;
}

.btn:hover{
    font-weight: bolder;
    color: white;
    background-color: #193444;
}

.program-content{
    background-color: #f8f8f8;
    height: 300vh;
    flex-wrap: wrap;
}

.program-content h2{
    color: #193444;
    text-align: center;
    padding: 50px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Poppins';
    text-shadow: #193444;
    border-bottom-style: solid #193444 ;
}


.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 10px;
}

.box article{
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-align: center;
    background: #fff;
    width: 350px;
    height: 690px;
    cursor: pointer;
}

.box-section:hover{
    background:rgb(253, 249, 242);
}

.box article img{
    padding-top: 40px;
}

.box img{
    position: relative;
    text-align: center;
   margin: 0px 10px 5px 10px;
}

.box h3{
    margin-top: 5px;
    margin-bottom: 10px;
}

.box p{
    text-align: justify;
    padding-left: 25px;
    padding-right: 25px;
    word-spacing: 0;
}

.btn-content{
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    background-color: #193444 ;
    color: white ;
    width: 150px;
    height: 40px;
    position: relative;
    margin: 35px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 1px;
    border: none ;
}

.btn-content:hover{
    font-weight: bolder;
    color: #193444;
    background-color: transparent ;
    border: solid 1px;

}

.btn2{
    margin-top: 55px;
}
.btn-private{
    margin-top: 60px;
}
.btn3{
    margin-top: 58px;
}

.content-program2{
    margin-top: 100px;
    background-color: #BCE0F4;
    width: 100%;
    height: 250px;
    justify-content: space-between;
     display: flex;
    align-items: center;
    padding: 40px 5% 0;
}

.content-program2 img{
    margin-top: 0px ;
    margin-left: 30px;
}

.box-content{
    float: left;
}

.box-content h4{
    font-size: 30px;
    font-family: 'Forum' ;
}

.box-content p{
    text-align: right;
    margin: 20px;
    letter-spacing: 1.6;
}

.strip :before{
    content: "\2014"; 
}

.blockquoted :before{
    content: "\201c";
}

.footer{
    background: rgb(23, 23, 58);
    color: aliceblue;
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 100px;
    
}

.popup{
    display: none;
    position: fixed;
    z-index: 101;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    transform: scaleX();
}

.form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
    width: 600px;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0,15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms ;
}

.popup #close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.popup .form h2{
    text-align: center;
    color: #222;
    margin: 10px 0px 10px;
    font-size: 25px; 
}

.popup .form .form-element{
    margin: 5px 0px;
}

.popup .form .form-element label{
    font-size: 14px;
    color: #222;
}

.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="email"],
.popup .form .form-element input[type="number"]{
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.popup .form .form-element select[type="jenjang"]{
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
    cursor: pointer;
}

.popup .form .form-element button{
    width: 100%;
    height: 42px;
    border: none;
    outline: none;
    font-size: 16px;
    background: #193444;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 5px;
}

.btn1{
    padding: 10px 60px;
    background: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
}

.popup1{
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    display: none;
    transition: transform 0.4s, top 0.4s;
}
.popup1 img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup1 h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

